
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: linear-gradient(#5f2e82, #5f2e82);
    font-family: 'Roboto', sans-serif;
}
.login{ 
    width: 270px;
    max-width: 70vw;
    height: 560px;
    background-color:white;
    position:absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: width 0.5s, height 0.3s, max-width 0.3s, margin 0.3s;
}
.image{
    height: 45%;
}
.image img{
    width:100%;
    height: 100%;
    border-radius: 18px 18px 0 0;
}
.form{
    padding: 10px;
    text-align: center;
}

#letter, #user, #key{
    font-weight:800;
}

.form h1{
    text-align: center;
    margin: 5px;
}

.form p{
    font: 0.9em 'roboto', sans-serif;
}
.container-1,.container-2,.container-3,button{
    width: 90%;
    height: 45px;
    margin:1% auto;
    border-radius: 10px;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.4);
}
.container-3 button{
    width: 100%;
    height: 35px;
    color: rgb(75, 71, 71);
    text-shadow: 0;
    border: solid 1px gray;
}
.container-3 button:hover{
    background-color: #71dad8;
}
#enter{
    height: 40px;
    background-color:#53aaa7;
    color: white;
    text-shadow: 0;
    border: 0;
    font-weight: bold;
}
#enter:hover{
    background-color:#3a7473 ;
}
#letter{
    height: 35px;
    color:black;
    text-shadow: 0;
    border: 0;
    position: relative;
    top: 6px;
    left: 4px;
    color:rgb(41, 38, 38);
}
.container-3 #letter{
    font-size: 20px;
}
.container-1, .container-2{
    background-color:#5f2c82;
    color:white;
}
.container-1 #email, .container-2 #senha{
    width: 80%;
    height: 38px;
    margin:2% 0 1.5% 3%;
    padding-left: 1%;
    border-radius: 7px;
    color:black;
    background-color:#94cfcd;
    text-shadow: 0;
    border: 0;
    outline: 0;
}
.container-1 span, .container-2 span{
    position: relative;
    top:8px;
    left: 3px;
    font-size: 1.5em;
}